openpyxl==3.0.9
packaging==21.3
pandas==1.4.0
parso==0.8.3
patatt==0.4.9
phonenumbers==8.12.42
pickleshare==0.7.5
Pillow==9.0.1
pip==22.0.4
plotly==5.5.0
prettytable==3.3.0
prompt-toolkit==3.0.29
psutil==5.9.0
pure-eval==0.2.2
pycparser==2.21
pyecharts==1.9.1
pygame==2.1.2
Pygments==2.11.2
PyJWT==2.3.0
PyNaCl==1.5.0
pyparsing==3.0.7
PyPDF2==1.28.3
pyperclip==1.8.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQt5==5.15.6
python-dateutil==2.8.2
pytz==2021.3
pywebio==1.5.2
pyzmq==22.3.0
regex==2022.3.15
requests==2.27.1
setuptools==62.1.0
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.36
stack-data==0.2.0
tabulate==0.8.9
tenacity==8.0.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
twilio==7.5.1
ua-parser==0.10.0
urllib3==1.26.8
user-agents==2.2.0
wcwidth==0.2.5
XlsxWriter==3.0.2
tk==0.1.0
Pillow >= 7
pywebio

